# ============================================================================================ #
#: Description     : Unit file for systemd-vboxinit.                                           #
#: Url             : https://github.com/Jetchisel/VBoxAutostart                                #
#: Date Created    : Wed Oct 02 07:57:25 2013 +0800  /  Wed Oct 02 03:11:58 2013 UTC           #
#: Last Edit       : Sat Mar 22 13:50:00 2025 +0800  /  Sat Mar 22 05:50:00 2025 UTC           #
# ============================================================================================ #

[Unit]
Description=VBox Virtual Machine Service for %I
Requires=systemd-modules-load.service
After=network.target vboxdrv.service systemd-modules-load.service
Before=shutdown.target halt.target runlevel2.target
DefaultDependencies=no
Documentation=man:systemd-vboxinit(1) file:///usr/share/doc/packages/systemd-vboxinit/README

[Service]
User=%I
Restart=no
Type=forking
KillMode=none
GuessMainPID=no
Group=vboxusers
TimeoutStopSec=40
IgnoreSIGPIPE=false
RemainAfterExit=yes
StandardOutput=journal+console
ExecStart=-/usr/lib/systemd-vboxinit.d/systemd-vboxinit --start
ExecStop=-/usr/lib/systemd-vboxinit.d/systemd-vboxinit --stop

[Install]
WantedBy=multi-user.target
