[Unit]
Description=VBox Virtual Machine Service 
Requires=systemd-modules-load.service 
After=systemd-modules-load.service
Before=shutdown.target reboot.target halt.target
Documentation=man:systemd-vboxinit(1) file:///usr/share/doc/packages/systemd-vboxinit/README

[Service]
Type=oneshot
User=%I
KillMode=none
Group=vboxusers
RemainAfterExit=true
StandardOutput=syslog+console
ExecStart=-/usr/bin/systemd-vboxinit start
ExecStop=-/usr/bin/systemd-vboxinit stop

[Install]
WantedBy=multi-user.target
